<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: html_head}"></head>
    <body th:replace="~{fragments :: menu}"></body>
        <div class="row g-3">
            <div class="col-md-5" id="epreuves-recentes">
              <p id="message-accueil">Venez assister à plus de 40 disciplines !<br />Du 24 juillet au 11 août 2024 !<br />Dont 4 disciplines récentes !</p>
              <div class="row row-cols-1 row-cols-md-2 g-4" id="liste-epreuves-recentes">
              <div class="col">
                <div class="card text-center border-info mb-3">
                  <img id="image-breakdance" th:src="@{breakdance.jpg}" class="card-img-top" alt="Homme faisant du breakdance" />
                  <h5 class="card-title text-info"><img id="logo-breakdance" th:src="@{logo_breakdance.svg}" alt="Breakdance" width="40" height="40" /> Breakdance</h5>
                  <hr>
                  <p id="description-epreuve-recente" class="card-text">Première apparition de toute l'histoire des Jeux Olympiques.</p>
                  <a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a>
                </div>
                </div>
                <div class="col">
                <div class="card text-center border-info mb-3">
                  <img id="image-escalade" th:src="@{escalade.jpg}" class="card-img-top" alt="Homme faisant de l'escalade" />
                  <h5 class="card-title text-info"><img id="logo-escalade" th:src="@{logo_escalade.svg}" alt="Escalade" width="40" height="40" /> Escalade</h5>
                  <hr>
                  <p id="description-epreuve-recentee" class="card-text">Deuxième apparation, après les Jeux Olympiques de Tokyo 2020.</p>
                  <a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a>
                </div>
                </div>
                <div class="col">
                <div class="card text-center border-info mb-3">
                <img id="image-skateboard" th:src="@{skateboard.jpg}" class="col-md-6 card-img-top" alt="Homme faisant du skateboard" />
                <h5 class="card-title text-info"><img id="logo-skateboard" th:src="@{logo_skateboard.svg}" alt="Skateboard" width="40" height="40" /> Skateboard</h5>
                <hr>
                <p id="description-epreuve-recente" class="card-text">Deuxième apparation, après les Jeux Olympiques de Tokyo 2020.</p>
                <a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a>
                </div>
                </div>
                <div class="col">
                <div class="card text-center border-info mb-3">
                <img id="image-surf" th:src="@{surf.jpg}" class="col-md-6 card-img-top" alt="Homme faisant du surf" />
                <h5 class="card-title text-info"><img id="logo-surf" th:src="@{logo_surf.svg}" alt="Surf" width="40" height="40" /> Surf</h5>
                <hr>
                <p id="description-epreuve-recente" class="card-text">Deuxième apparation, après les Jeux Olympiques de Tokyo 2020.</p>
                <a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
                <ul class="col-md-5 list-group" id="liste-epreuves-a-la-une">
                    <li class="list-group-item border-info" id="titre-epreuves-a-la-une">Epreuves à la une</li>
                <ul class="list-group list-group-horizontal border-info" id="epreuve-a-la-une">
                    <li class="col-2 list-group-item flex-fill text-info"><img id="logo-athletisme" th:src="@{logo_athletisme.svg}" alt="Athletisme" width="40" height="40" />Athletisme</li>
                    <li class="col-2 list-group-item flex-fill"><p id="description-epreuve-a-la-une">Finale 100m masculin<br />Dimanche 4 Août à 21h50<br />Stade de France</p></li>
                    <li class="col-2 list-group-item flex-fill"><a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a></li>
                </ul>
                <ul class="list-group list-group-horizontal" id="epreuve-a-la-une">
                    <li class="col-2 list-group-item flex-fill text-info"><img id="logo-tennis" th:src="@{logo_tennis.svg}" alt="Tennis" width="40" height="40" />Tennis</li>
                    <li class="col-2 list-group-item flex-fill"><p id="description-epreuve-a-la-une">Finale simple messiers<br />Dimanche 4 Août à 12h00<br />Stade Roland-Garros</p></li>
                    <li class="col-2 list-group-item flex-fill"><a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a></li>
                </ul>
                <ul class="list-group list-group-horizontal" id="epreuve-a-la-une">
                    <li class="col-2 list-group-item flex-fill text-info"><img id="logo-natation" th:src="@{logo_natation.svg}" alt="Natation" width="40" height="40" />Natation</li>
                    <li class="col-2 list-group-item flex-fill"><p id="description-epreuve-a-la-une">Finale 4 x 100 mètres 4 nages mixte<br />Samedi 3 Août à 21h58<br />Paris La Défense Arena</p></li>
                    <li class="col-2 list-group-item flex-fill"><a th:href="@{/offres}" class="btn" id="bouton-reserver" style="background-color: #00c7be;">Réserver</a></li>
                </ul>
            <img id="image-tour-eiffel" th:src="@{logo_tour_eiffel.jpg}" class="" alt="Logo Tour Eiffel" />
        </ul>
        </div>
    <footer th:replace="~{fragments :: footer}"></footer>
</html>