<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: html_head}"></head>
    <body th:replace="~{fragments :: menu}"></body>
<h3><u>Comment créer un compte ?</u></h3>

•	Cliquez sur &#x22;Inscription&#x22;, dans l&#39;en-tête<br>
•	Renseignez vos informations personnelles : nom, prénom, email, mot de passe. Entrez le même mot de passe dans le champ &#x22;Confirmer mot de passe&#x22;<br>
•	Validez votre inscription en cliquant sur &#x22;Confirmer l&#39;inscription&#x22;<br>
•	Vous recevrez un email d'activation de compte, contenant le lien vous permettant d'activer votre compte, ainsi qu'un QR Code vous permettant d'obtenir votre code OTP sur l'application Google Authenticator.

<h3><u>Comment se connecter ?</u></h3>

•	Cliquez sur &#x22;Connexion&#x22;, dans l&#39;en-tête<br>
•	Renseignez vos informations personnelles : email, mot de passe, code OTP <small>(code apparaisant sur l'application Google Authenticator)</small><br>
•	Cliquez sur &#x22;Se connecter&#x22;

<h3><u>Comment acheter un billet ?</u></h3>

•	Cliquez sur &#x22;Liste des offres&#x22;, dans l&#39;en-tête<br>
•	Choisissez l&#39;évènement qui vous intéresse<br>
•	Cliquez sur l&#39;offre qui vous intéresse : unitaire, duo ou familial<br>
•	Votre sélection est mise dans le panier<br>
•	Cliquez sur l&#39;image du panier, dans l&#39;en-tête<br>
•	Vérifiez votre panier<br>
•	Procédez au paiement sécurisé en cliquant sur &#x22;Payer&#x22;<br>
•	Vous recevez un email de confirmation avec le e-ticket

<h3><u>Comment accéder à un évènement ?</u></h3>

•	Présentez votre billet <small>(QR Code)</small> imprimé ou sur mobile<br>
•	Un scan du QR Code validera votre entrée

<h3><u>Besoin d'aide ?</u></h3>

•	Contactez le service client en adressant un email à l&#39;email fourni sur &#x22;Contact&#x22;, dans le pied de page

<footer th:replace="~{fragments :: footer}"></footer>
</html>