<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: html_head}"></head>
    <body th:replace="~{fragments :: menu}"></body>
<h1><u>1. Editeur du site</u></h1>

Nom du site : <a href="https://studi-e7e2bdae765d.herokuapp.com">https://studi-e7e2bdae765d.herokuapp.com</a><br>
Nom de l&#39;éditeur : InfoEvent<br>
Forme juridique : SARL<br>
Capital social : 20000 Euros<br>
Siege social : 24 avenue du sport 75000 Paris<br>
Numéro d&#39;immatriculation :123 456 789 0000<br>
Contact : InfoEvent@gmail.com

<h1><u>2. Hébergeur</u></h1>

Nom : Heroku<br>
Raison sociale : SAS<br>
Adresse : The Landmark at One Market, Suite 300, San Francisco, CA 94105, United States<br>
Téléphone : 4155031818

<h1><u>3. Activité</u></h1>

Le site <a href="https://studi-e7e2bdae765d.herokuapp.com">https://studi-e7e2bdae765d.herokuapp.com</a> propose un service de vente en ligne de billets pour les Jeux Olympiques de Paris 2024.<br>
Toute commande effectuée sur le site implique l&#39;acceptation des Conditions Générales de Vente.

<h1><u>4. Propriété intellectuelle</u></h1>

L&#39;ensemble des contenus présents sur le site (textes, images, logos, vidéos, etc.) est protégé par les lois en vigueur sur la propriété intellectuelle et est la propriété exclusive de InfoEvent ou de ses partenaires.<br>
Toute reproduction, distribution ou usage sans autorisation écrite est strictement interdit.

<h1><u>5. Données personnelles</u></h1>

Les données collectées sur le site sont traitées conformément à la réglementation en vigueur (notamment le RGPD).<br>
Pour plus d&#39;informations, consultez notre Politique de confidentialité.<br>
Vous disposez d&#39;un droit d&#39;accès, de rectification, de suppression et d&#39;opposition concernant vos données personnelles. Pour exercer ces droits, contactez-nous à l&#39;adresse : InfoEvent@gmail.com.

<h1><u>6. Cookies</u></h1>

Le site peut être amené à utiliser des cookies pour améliorer l&#39;expérience utilisateur, mesurer l&#39;audience ou proposer des contenus personnalisés. Vous pouvez gérer vos préférences à tout moment en allant sur cookies sur le bandeau en bas de page.

<h1><u>7. Responsabilité</u></h1>

InfoEvent s&#39;efforce de fournir un site accessible et à jour, mais ne saurait être tenue responsable d&#39;éventuels dysfonctionnements, erreurs ou interruptions du service.
<footer th:replace="~{fragments :: footer}"></footer>
</html>