<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: html_head}"></head>
    <body th:replace="~{fragments :: menu}"></body>
La présente Politique de confidentialité a pour objectif d&#39;informer les utilisateurs du site <a href="https://studi-e7e2bdae765d.herokuapp.com">https://studi-e7e2bdae765d.herokuapp.com</a> sur la manière dont leurs données personnelles sont collectées, utilisées, stockées et protégées.<br>
Le site est édité par InfoEvent, situé au 24 avenue du sport 75000 Paris, enregistré sous le numéro SIRET 123 456 789 0000, et joignable à l&#39;adresse InfoEvent@gmail.com.

<h3><u>1. Données collectées</u></h3>

Dans le cadre de l&#39;utilisation de notre site, nous pouvons collecter les données suivantes :<br>

•	Nom, prénom<br>
•	Adresse e-mail<br>
•	Mot de passe<br>
•	Informations de paiement traitées via une plateforme sécurisée<br>
•	Historique des commandes et billets achetés<br>
•	Cookies 

<h3><u>2. Finalités du traitement</u></h3>

Les données collectées sont utilisées pour :<br>

•	Traiter et gérer vos commandes de billets<br>
•	Vous envoyer les billets ou confirmations d&#39;achats<br>
•	Gérer la relation client et le service après-vente<br>
•	Améliorer notre site et analyser son audience<br>
•	Respecter nos obligations légales 

<h3><u>3. Base légale du traitement</u></h3>

Conformément au Règlement Général sur la Protection des Données (RGPD), les traitements de vos données reposent sur :<br>

•	L&#39;exécution d&#39;un contrat (commande de billets)<br>
•	Votre consentement (ex : cookies non essentiels)<br>
•	Notre intérêt légitime (amélioration du site, prévention des fraudes)<br>
•	Une obligation légale (facturation, conservation des données)

<h3><u>4. Durée de conservation</u></h3>

Les données sont conservées uniquement le temps nécessaire aux finalités mentionnées :<br>

•	Données liées aux commandes : 1 an<br>
•	Données marketing : 3 ans à compter du dernier contact<br>
•	Cookies : 12 mois maximum

<h3><u>5. Destinataires des données</u></h3>

Les données peuvent être transmises à :<br>

•	Nos prestataires techniques (hébergement, service de billetterie, outils de paiement)<br>
•	Nos partenaires événementiels (dans le strict cadre de l'événement concerné)<br>
•	Les autorités compétentes, sur demande légale<br>

Tous les sous-traitants respectent la réglementation sur la protection des données

<h3><u>6. Sécurité des données</u></h3>

Nous mettons en œuvre toutes les mesures techniques et organisationnelles nécessaires pour protéger vos données personnelles (chiffrement, accès restreint, sauvegardes, etc.).

<h3><u>7. Vos droits</u></h3>

Conformément au RGPD, vous disposez des droits suivants :<br>

•	Droit d&#39;accès à vos données<br>
•	Droit de rectification<br>
•	Droit à l&#39;effacement (sous conditions)<br>
•	Droit à la limitation du traitement<br>
•	Droit d&#39;opposition<br>
•	Droit à la portabilité des données<br>

Pour exercer ces droits, contactez-nous à InfoEvent@gmail.com.<br>
Vous pouvez également introduire une réclamation auprès de la CNIL (www.cnil.fr).

<h3><u>8. Cookies</u></h3>

Le site utilise des cookies pour :<br>

•	Faciliter la navigation<br>
•	Mesurer l&#39;audience (ex : Google Analytics)<br>
•	Personnaliser le contenu et les offres<br>

En allant dans cookies dans le bandeau en bas de la page vous pouvez gérer vos préférences. Vous pouvez également modifier vos choix à tout moment.

<h3><u>9. Modification de la politique</u></h3>

Nous nous réservons le droit de modifier la présente politique à tout moment, afin de garantir sa conformité avec la législation en vigueur. En cas de changement majeur, nous vous en informerons.
<footer th:replace="~{fragments :: footer}"></footer>
</html>